# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Debug output
*.crf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


*.rar
*.o
*.d
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*

!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!jdiff.exe
!jptch.exe

# do not ignore bin file in Debug/
**/Debug/*
!**/Debug/*.bin

# python
*.pyc
*.npy
*.json

# output
*.pdf
*.txt

# json
!chirpbox-param-settings.json
!fut-param-settings.json